<div class="widget-wrap">
  <div class="widget">
    <h3 class="widget-title">
      Development
    </h3>
    <ul class="category-list">
      <li class="category-list-item">
        <a href="#">Projects in Git</a>
      </li>
      <li class="category-list-item">
        <a href="#">Developer Wiki</a>
      </li>
      <li class="category-list-item">
        <a href="#">Package Groups</a>
      </li>
      <li class="category-list-item">
        <a href="#">Todo Lists</a>
      </li>
      <li class="category-list-item">
        <a href="#">ISO Release List</a>
      </li>
      <li class="category-list-item">
        <a href="#">Vizualizations</a>
      </li>
      <li class="category-list-item">
        <a href="#">Differances Reports</a>
      </li>
    </ul>
  </div>
</div>
