<div class="widget-wrap">
  <div class="widget">
    <h3 class="widget-title">
      Development
    </h3>
    <ul class="category-list">
      <li class="category-list-item">
        <a href="https://github.com/pacbsd">Projects in Git</a>
      </li>
      <li class="category-list-item">
        <a href="https://wiki.pacbsd.org/index.php?title=DeveloperWiki">Developer Wiki</a>
      </li>
      <li class="category-list-item">
        <a href="#">Todo Lists</a>
      </li>
      <li class="category-list-item">
        <a href="#">ISO Release List</a>
      </li>
    </ul>
  </div>
</div>
