<div class="widget-wrap">
  <div class="widget-download">
    <div class="btn-group">
      <a href="/download">
        <button type="button" class="btn btn-default" aria-haspopup="true" aria-expanded="false"><i class="fa fa-cloud-download"></i> Download</button>
      </a>
    </div>
    <div class="btn-group">
      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fa fa-question-circle"></i> Help <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a href="https://wiki.pacbsd.org/index.php/Official_PacBSD_Install_Guide">Installation guide</a></li>
        <li><a href="https://wiki.pacbsd.org/index.php/FAQ">FAQ</a></li>
        <li role="separator" class="divider"></li>
        <li><a href="/download">Download</a></li>
      </ul>
    </div>
  </div>
</div>

