<div class="widget-wrap">
  <div class="widget">
    <h3 class="widget-title">
      Tools
    </h3>
    <ul class="category-list">
      <li class="category-list-item">
        <a href="https://raw.githubusercontent.com/PacBSD/abs/master/core/pacman-mirrorlist/mirrorlist" target="_blank" rel="nofollow">Mirrorlist Updater</a>
      </li>
      <li class="category-list-item">
        <a href="/mirrors">Mirror List</a>
      </li>
      <li class="category-list-item">
        <a href="#">Mirror Status</a>
      </li>
    </ul>
  </div>
</div>
