@import "neat/neat";
@import "bourbon/bourbon";
@import "colors";

.container {
  @include grid-container;
}

.col-3 {
  @include grid-column(3);
}

.col-6 {
  @include grid-column(6);
}

ul.slim-list {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;

  li {
    padding-left: 0;
  }
}

.archive-article-thumbnail .thumbnail {
  .thumbnail-none {
    background-image: url("images/thumb-default-small.png");
    // background-color: #f9fbfd;
    background-color: $smokeyWhite;
  }
  .thumbnail-image {
    position: absolute;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    background-position: center;
    background-color: $smokeyWhite;
  }
}
