<div class="article-inner-first">
	<h2>
		A simple, lightweight distribution
	</h2>
	<p>
  You've reached the website for <b>PacBSD</b>, a lightweight and flexible BSD® distribution that provides a base system for use of <b>Pacman</b> package manager.
  </p>

  <p>
  Our packages match closely to <b>ArchLinux</b> packaging standards where possible. We Currently have official packages optimized for the x86_64 architectures.
  </p>

  <p>
  While our community is still growing, you can get involved by visiting our IRC channels on <b>irc.freenode.net</b> in the rooms <b>#pacbsd-chat</b> and <b>#pacbsd-dev</b> Please also check out our <a href="https://bbs.pacbsd.org/" title="PacBSD Forums">forums</a> and <a href="/mailing_list/" title="PacBSD Mailing Lists">mailing lists</a> to get your feet wet. Also glance through our <a href="https://wiki.pacbsd.org" title="PacBSD Wiki">wiki</a> if you want to learn more about PacBSD.
  </p>

  <p class="readmore">
  <a href="/about" title="Learn more about PacBSD" class="pull-right">Learn more&hellip;</a>
  </p>
  <div class="clearfix"></div>
</div>
<div class="rss-right"><a href="{{ .RSSLink }}"><i class="fa fa-rss-square fa-lg"></i></a></div>
