
        <li><a href="/">Home</a></li>
        <li><a href="https://packages.pacbsd.org">Packages</a></li>
        <li><a href="https://bbs.pacbsd.org">Forums</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Wiki<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/about">About PacBSD</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="https://wiki.pacbsd.org/index.php?title=DeveloperWiki">Development</a></li>
            <li><a href="https://wiki.pacbsd.org/index.php/Hardware_Compatibility_List">Hardware</a></li>
            <li><a href="https://wiki.pacbsd.org/index.php/Configure_the_network">Networking</a></li>
            <li><a href="https://wiki.pacbsd.org/index.php/Category:System_administration">System administration</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="https://wiki.pacbsd.org">PacBSD Wiki</a></li>
          </ul>
        </li>
        <li><a href="https://github.com/PacBSD/abs/issues" target="_blank" rel="nofollow">Bugs</a></li>
