	    <div class="navbar-header">
      		<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
      		  <span class="sr-only">Toggle navigation</span>
      		  <span class="icon-bar"></span>
      		  <span class="icon-bar"></span>
      		  <span class="icon-bar"></span>
      		</button>
		    <h1>
			    <a class="navbar-brand" href="{{ .Site.BaseURL }}">
            <img alt="PacBSD logo" src="/banners/pacBSD-logo.png" />
			    </a>
		    </h1>
	    </div>
